<div class="wrapper">
    <a class="nav-link main to_main" aria-current="page" href="index">НА ГЛАВНУЮ</a>
    <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="groups">НАПРАВЛЕНИЯ</a>
        <a class="nav-link" aria-current="page" href="schedule">РАСПИСАНИЕ</a>
        <a class="nav-link main" aria-current="page" href="join_us">ЗАПИСАТЬСЯ НА ТРЕНИРОВКУ</a>
        <a class="nav-link" aria-current="page" href="about">О НАС</a>
        <a class="nav-link" aria-current="page" href="masters">ИНСТРУКТОРЫ</a>
        <a class="nav-link" aria-current="page" href="price">ЦЕНЫ</a>
    </div>
    <div class="nav-socials">
        <a href="https://vk.me/ffgspb" target="_blank">
            <img src="assets/img/socials/vk.svg" alt="vk" width="31" height="18"/>
        </a>
        <a href="https://t.me/frfchtrgld" target="_blank">
            <img src="assets/img/socials/tg.svg" width="27" height="21" alt="telegram"/>
        </a>
        <a href="tel:89217927532" target="_blank" class="d-flex d-lg-none">
            <img src="assets/img/socials/phone.svg" alt="phone" width="30" height="27"/>
        </a>
        <a href="join_us" target="_blank" class="d-none d-lg-flex">
            <img src="assets/img/socials/phone.svg" alt="phone" width="30" height="27"/>
        </a>
    </div>
</div>