@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$grey: #9A9A9A;
$navbarHeight: 50px;
$navbarMobileHeight: 70px;
$shadow: 0px 10px 30px 0px #00000040;

@mixin light-grey-back {
  background-image: url('../img/background.jpg');
  filter: brightness(1.5);
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  background-image: url('../img/background.jpg');
  background-color: black;
}

.menu {
  .navbar {
    background-color: black;
    height: $navbarHeight;
    font-family: 'Centure Gothic';

    @media screen and (max-width: 991px) {
      height: $navbarMobileHeight;
      padding: 0;
    }
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-link {
    color: white;
    font-size: 10px;
    &.active {
      text-decoration: underline;
    }
    &.to-trains {
      font-family: 'Centure Gothic Bold';
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.promo {
  height: 650px;
  background-image: url('../img/banner.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 75px;

  @media screen and (max-width: 900px) {
   height: calc(100vh - $navbarMobileHeight);
  }

  .logo-text {
    max-width: 874px;
    height: 148px;

    @media screen and (max-width: 900px) {
      max-width: 100%;
      height: auto;
    }
  }
}

.promo-text {
  min-height: 380px;
  padding: 70px 0;
  align-items: center;
  background-image: url('../img/background.jpg');
  font-family: 'Centure Gothic';
  font-size: 20px;

  @media screen and (max-width: 991px) {
    min-height: 100vh;
    padding: 20px 0;
    justify-content: center;
  }

  p {
    max-width: 1000px;
    color: $grey;
    text-align: center;
    margin-bottom: 50px;
  }
}

.what {
  height: 100vh;
  padding: 30px 0 50px 0;
  line-height: 26px;
  p{
    margin: 0;
  }

  .hema {
    margin: 10px 0;
    width: 230px;
    text-align: left;
    span{
      font-family: "Algerian TYGRA";
      font-size: 30px;
    }
    p{
      margin: 0;
    }
  }

  h2 {
    font-family: "Algerian TYGRA";
    font-size: 48px;
    margin-bottom: 50px;
  }
  .row {
    gap: 22px;
    height: 100%;
  }
  .left, .right {
    display: flex;
    border-radius: 10px;
    height: 100%;
    max-height: 850px;
    box-shadow: $shadow;
  }

  .left {
    @include light-grey-back;
    color: $grey;
    font-family: 'Centure Gothic';
    font-size: 20px;
    text-align: center;

  }
  .right {
    background-image: url("../img/mark.jpg");
    background-position: center;
    background-size: cover;
  }
}

.why {
  height: 1080px;
  padding-top: 60px;
  padding-bottom: 90px;
  gap: 68px;

  h2 {
    font-family: "Algerian TYGRA";
    font-size: 48px;
    text-align: center;
  }

  .cards{
    
    .card{
      width: 490px;
      color: $grey;
      text-align: center;
      background-color: rgba(40, 40, 40, 0.3);

      .title{
        font-size: 48px;
        font-family: "Algerian TYGRA";

      }
      .description {
        font-family: 'Centure Gothic';
      }
    }
  }
  button {
    height: 50px;
    max-width: 390px;
    padding: 0 50px;
    box-shadow: $shadow;
    border-radius: 50px;
    font-family: "Algerian TYGRA";
    background-color: rgba(40, 40, 40, 0.3);
    color: white;
    font-size: 20px;
    border: none;
    &:hover{
      background-color: rgba(40, 40, 40, 0.6);
    }
  }
}

.divider {
  width: 46px;
  height: 3px;
  background: white;
}



@font-face {
  font-family: "Algerian TYGRA";
  src: url('../fonts/algeriantygra.ttf') format('truetype');
}

@font-face {
  font-family: "Centure Gothic";
  src: url('../fonts/centurygothic.ttf') format('truetype');
}

@font-face {
  font-family: "Centure Gothic Bold";
  src: url('../fonts/centurygothic_bold.ttf') format('truetype');
}
