@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  background-image: url("../img/background.jpg");
  background-color: black;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1520px;
  }
}
.navbar {
  background-color: black;
  height: 50px;
  font-family: "Centure Gothic";
}
@media screen and (max-width: 991px) {
  .navbar {
    height: 70px;
    padding: 0;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link {
  color: white;
  font-size: 16px;
}
.nav-link.active {
  text-decoration: underline;
}
.nav-link.main {
  font-family: "Centure Gothic Bold";
}
.nav-link:hover {
  text-decoration: underline;
}

.promo {
  height: calc(100vh - 50px);
}
@media screen and (max-width: 1200px) {
  .promo {
    height: auto;
  }
}
.promo .promo-top {
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 75px;
  height: 60%;
}
@media screen and (max-width: 1200px) {
  .promo .promo-top {
    height: calc(100vh - 50px);
  }
}
.promo .logo-text {
  max-width: 874px;
  height: 148px;
}
@media screen and (max-width: 900px) {
  .promo .logo-text {
    max-width: 100%;
    height: auto;
  }
}

.what {
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 50px;
  line-height: 26px;
}
@media screen and (max-width: 1200px) {
  .what {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.what p {
  margin: 0;
}
.what h2 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 500px) {
  .what h2 {
    font-size: 30px;
  }
}
.what .row {
  gap: 22px;
  height: 100%;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1200px) {
  .what .row {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.what .left, .what .right {
  display: flex;
  border-radius: 10px;
  height: 100%;
  max-height: 850px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2509803922);
}
.what .left {
  background-image: url("../img/background.jpg");
  filter: brightness(1.5);
  color: #9A9A9A;
  font-family: "Centure Gothic";
  font-size: 20px;
  padding: 40px;
  text-align: center;
}
.what .left b {
  font-family: "Centure Gothic Bold";
}
@media screen and (max-width: 1400px) {
  .what .left {
    padding: 20px;
  }
}
.what .left .hema {
  margin: 10px 0;
  width: 180px;
  text-align: left;
}
.what .left .hema span {
  font-family: "Algerian TYGRA";
  font-size: 30px;
}
.what .left .hema p {
  margin: 0;
}
.what .right {
  background-image: url("../img/mark.jpg");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1200px) {
  .what .right {
    height: 400px;
  }
}

.promo-with-photo {
  height: 100vh;
  min-height: 1080px;
  padding-top: 50px;
  padding-bottom: 110px;
}
@media screen and (max-width: 1200px) {
  .promo-with-photo {
    height: auto;
    min-height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
.promo-with-photo .image {
  height: 650px;
  border-radius: 10px;
  background-color: transparent;
  background-image: url("../img/promo-photo.jpg");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1200px) {
  .promo-with-photo .image {
    height: 400px;
  }
}
@media screen and (max-width: 800px) {
  .promo-with-photo .image {
    height: 300px;
  }
}

.why {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 90px;
  gap: 68px;
  background-image: url("../img/meyer-left.png"), url("../img/meyer-right.png");
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
}
@media screen and (max-width: 1400px) {
  .why {
    background-size: 600px;
  }
}
@media screen and (max-width: 800px) {
  .why {
    background-image: url("../img/meyer-left.png");
  }
}
.why h2 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
  margin: 50px 10px;
  max-width: 940px;
}
@media screen and (max-width: 500px) {
  .why h2 {
    font-size: 30px;
  }
}
.why .cards-wrapper {
  width: calc(100vw - 40%);
  height: 650px;
  position: relative;
  overflow-x: scroll;
  margin-left: 40%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media screen and (max-width: 1000px) {
  .why .cards-wrapper {
    margin-left: 0;
    width: 100%;
    overflow-x: visible;
  }
}
.why .cards-wrapper::-webkit-scrollbar {
  display: none;
}
.why .cards-wrapper .cards {
  position: absolute;
  overflow-x: scroll;
  z-index: 1;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .why .cards-wrapper .cards {
    position: inherit;
    overflow-x: visible;
  }
}
.why .cards-wrapper .cards .card {
  width: 490px;
  height: 100%;
  padding: 50px;
  color: #9A9A9A;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.3);
  margin: 0 12px;
}
.why .cards-wrapper .cards .card:first-child {
  margin-left: 0;
}
.why .cards-wrapper .cards .card:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1400px) {
  .why .cards-wrapper .cards .card {
    width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .why .cards-wrapper .cards .card {
    position: inherit;
    overflow-x: visible;
  }
}
@media screen and (max-width: 700px) {
  .why .cards-wrapper .cards .card {
    margin: 0;
  }
}
.why .cards-wrapper .cards .card .title {
  font-size: 48px;
  margin-bottom: 50px;
  font-family: "Algerian TYGRA";
}
@media screen and (max-width: 1400px) {
  .why .cards-wrapper .cards .card .title {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .why .cards-wrapper .cards .card .title {
    font-size: 38px;
  }
}
.why .cards-wrapper .cards .card .description {
  font-family: "Centure Gothic";
  line-height: 24px;
}
.why .cards-wrapper .cards .slick-list, .why .cards-wrapper .cards .slick-track {
  height: 100%;
}

.aboutGuild {
  padding: 50px 10px;
  gap: 55px;
  background-image: url("../img/aboutGuildeBackground.png");
  background-position: center;
  background-size: cover;
}
.aboutGuild p {
  max-width: 1000px;
  text-align: center;
  font-family: "Centure Gothic";
  font-size: 20px;
  color: #9A9A9A;
}
.aboutGuild p span {
  font-family: "Algerian TYGRA";
  text-transform: capitalize;
}

.groups {
  gap: 50px;
}
.groups .image {
  height: 400px;
  width: 100%;
  background-image: url("../img/groupsBackground.jpg");
  background-position: center;
  background-size: cover;
}
.groups h2 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 500px) {
  .groups h2 {
    font-size: 30px;
  }
}
.groups .cards {
  gap: 20px;
  margin-bottom: 80px;
}
@media screen and (max-width: 1200px) {
  .groups .cards {
    gap: 10px;
  }
}
.groups .cards .card {
  width: 100%;
  height: 450px;
  background-color: rgba(40, 40, 40, 0.3);
  color: white;
  text-align: center;
}
@media screen and (max-width: 1400px) {
  .groups .cards .card {
    height: 350px;
  }
}
.groups .cards .card .image {
  height: 356px;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1400px) {
  .groups .cards .card .image {
    height: 256px;
  }
}
.groups .cards .card .text {
  padding-top: 10px;
  height: 94px;
  flex-shrink: 0;
}
.groups .cards .card .text .name {
  height: 34px;
  margin: 0;
  font-size: 18px;
}
.groups .cards .card .text .description {
  color: #9A9A9A;
  font-size: 12px;
  margin: 0;
}

.promo-text {
  max-width: 1000px;
  align-items: center;
  background-image: url("../img/background.jpg");
  font-family: "Centure Gothic";
  font-size: 20px;
  line-height: 26px;
}
.promo-text b {
  font-family: "Centure Gothic Bold";
}
@media screen and (max-width: 1200px) {
  .promo-text {
    min-height: 300px;
    height: auto;
    justify-content: center;
    font-size: 16px;
  }
}
.promo-text p {
  max-width: 1000px;
  color: #9A9A9A;
  text-align: center;
}

.footer {
  padding: 30px 0;
  min-height: 190px;
  background-color: black;
  display: flex;
  justify-content: center;
}
.footer ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
@media screen and (max-width: 900px) {
  .footer ul {
    gap: 10px;
  }
}
@media screen and (max-width: 650px) {
  .footer ul {
    flex-direction: column;
    text-align: center;
  }
}

.divider {
  width: 46px;
  height: 3px;
  background: white;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-70 {
  margin-bottom: 70px;
}
@media screen and (max-width: 1200px) {
  .mb-70 {
    margin-bottom: 30px;
  }
}

.button_link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 50px;
  max-width: 390px;
  padding: 0 50px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 50px;
  font-family: "Algerian TYGRA";
  background-color: rgba(40, 40, 40, 0.3);
  color: white;
  font-size: 20px;
  text-decoration: none;
  border: none;
}
.button_link:hover {
  background-color: rgba(40, 40, 40, 0.6);
}

.controls-wrapper {
  width: 100%;
  position: relative;
}
.controls-wrapper .controls {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 0 10px;
  display: none;
}
@media screen and (max-width: 1000px) {
  .controls-wrapper .controls {
    display: flex;
  }
}

@font-face {
  font-family: "Algerian TYGRA";
  src: url("../fonts/algeriantygra.ttf") format("truetype");
}
@font-face {
  font-family: "Centure Gothic";
  src: url("../fonts/centurygothic.ttf") format("truetype");
}
@font-face {
  font-family: "Centure Gothic Bold";
  src: url("../fonts/centurygothic_bold.ttf") format("truetype");
}

/*# sourceMappingURL=style.css.map */
