@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  background-image: url("../img/background.jpg");
  background-color: black;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1520px;
  }
}
@media (min-width: 980px) {
  a[href^=tel] {
    pointer-events: none;
  }
}
nav.navbar {
  background-color: black;
  height: 50px;
  font-family: "Centure Gothic";
}
@media screen and (max-width: 991px) {
  nav.navbar {
    height: 70px;
    padding: 0;
  }
}
nav.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 10px;
  padding-right: 10px;
}
nav.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
nav.navbar .navbar-toggler {
  margin-left: 16px;
}
nav .navbar-collapse {
  background: black;
  z-index: 2;
  max-width: 1620px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  justify-content: space-between !important;
}
nav .navbar-collapse .nav-socials {
  display: flex;
  align-items: center;
  gap: 25px;
}
nav .navbar-collapse .nav-socials a {
  text-decoration: none;
}
@media screen and (max-width: 1060px) {
  nav .navbar-collapse .nav-socials {
    gap: 10px;
  }
}
@media screen and (max-width: 990px) {
  nav .navbar-collapse .nav-socials {
    padding: 20px 0 20px 10px;
  }
}
nav .nav-link {
  color: white;
  font-size: 16px;
}
@media screen and (min-width: 990px) and (max-width: 1060px) {
  nav .nav-link {
    font-size: 15px;
  }
}
@media screen and (max-width: 990px) {
  nav .nav-link.to_main {
    padding-left: 10px;
  }
}
nav .nav-link.active {
  text-decoration: underline;
}
nav .nav-link.main {
  font-family: "Centure Gothic Bold";
}
nav .nav-link:hover {
  text-decoration: underline;
}

.footer {
  padding: 10px 0;
  min-height: 190px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: start;
}
.footer .wrapper {
  max-width: 1620px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 560px) {
  .footer .wrapper {
    flex-direction: column;
    gap: 10px;
  }
}
.footer .wrapper .navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
@media screen and (max-width: 1200px) {
  .footer .wrapper .navbar-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
.footer .wrapper .nav-socials {
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer .wrapper .nav-socials a {
  text-decoration: none;
}
@media screen and (max-width: 1060px) {
  .footer .wrapper .nav-socials {
    gap: 10px;
  }
}
@media screen and (max-width: 990px) {
  .footer .wrapper .nav-socials {
    padding: 20px 0 20px 10px;
  }
}

.join_us {
  text-align: center;
  padding: 30px 10px;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/meyersMens.png") center;
  background-size: cover;
}
@media screen and (max-width: 650px) {
  .join_us {
    height: auto;
    padding: 50px 10px;
  }
}
.join_us h1 {
  font-family: "Algerian TYGRA";
  font-size: 38px;
  text-align: center;
}
.join_us p {
  font-size: 15px;
  color: #9A9A9A;
}
.join_us .socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 362px;
  width: 100%;
}
.join_us .socials a {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  gap: 20px;
  background-color: rgba(40, 40, 40, 0.3);
  border-radius: 50px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2509803922);
}
.join_us .socials a:hover {
  background-color: rgba(40, 40, 40, 0.6);
  font-size: 18px;
  transition: 0.1s linear;
}
.join_us .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 450px;
  text-align: center;
  font-family: "Centure Gothic";
  font-size: 20px;
  color: #9A9A9A;
  line-height: 24px;
}
.join_us .address p {
  font-size: 20px;
}
.join_us .address b {
  font-family: "Centure Gothic Bold";
}
.join_us .address a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: #9A9A9A;
}

.divider {
  width: 46px;
  height: 3px;
  background: white;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-70 {
  margin-bottom: 70px;
}
@media screen and (max-width: 1200px) {
  .mb-70 {
    margin-bottom: 30px;
  }
}

td {
  background-color: rgba(40, 40, 40, 0.3);
}

td.sword a, td.saber a, td.rapier a, td.buckler a {
  text-decoration: none;
  color: inherit;
}
td.sword a:hover, td.saber a:hover, td.rapier a:hover, td.buckler a:hover {
  text-decoration: underline;
}

td.sword {
  background: rgba(12, 86, 19, 0.1);
}

td.saber {
  background: rgba(12, 33, 86, 0.1);
}

td.rapier {
  background: rgba(94, 29, 96, 0.1);
}

td.buckler {
  background: rgba(86, 65, 12, 0.1);
}

.button_link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 50px;
  max-width: 390px;
  padding: 0 50px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 50px;
  font-family: "Algerian TYGRA";
  background-color: white;
  color: black;
  font-size: 20px;
  text-decoration: none;
  border: none;
}
.button_link:hover {
  background: #B78A66;
  transition: background-color 0.2s linear;
}
@media screen and (max-width: 600px) {
  .button_link {
    padding: 0 25px;
  }
}
@media screen and (max-width: 400px) {
  .button_link {
    font-size: 15px;
  }
}

.controls-wrapper {
  width: 100%;
  position: relative;
}
.controls-wrapper .controls {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  padding: 0 10px;
  display: none;
}
@media screen and (max-width: 1000px) {
  .controls-wrapper .controls {
    display: flex;
  }
}
.controls-wrapper .controls .prevArrow, .controls-wrapper .controls .nextArrow {
  pointer-events: auto;
}

.prevArrow, .nextArrow {
  width: 40px;
  height: 40px;
}

.prevArrow:hover, .nextArrow:hover {
  cursor: pointer;
  color: white;
}

.main-page .promo {
  min-height: 800px;
}
@media screen and (max-width: 1200px) {
  .main-page .promo {
    height: auto;
    min-height: auto;
  }
}
.main-page .promo .promo-top {
  background: url("../img/banner.jpg") center;
  background-size: cover;
  padding-top: 75px;
  height: 570px;
}
@media screen and (max-width: 600px) {
  .main-page .promo .promo-top {
    max-height: 500px;
    height: 100%;
  }
}
.main-page .promo .logo-text {
  max-width: 874px;
  height: 148px;
  margin-bottom: 45px;
}
@media screen and (max-width: 900px) {
  .main-page .promo .logo-text {
    max-width: 80%;
    height: auto;
  }
}
.main-page .what {
  padding-top: 30px;
  padding-bottom: 50px;
  line-height: 26px;
}
@media screen and (max-width: 1200px) {
  .main-page .what {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.main-page .what p {
  margin: 0;
}
.main-page .what .row {
  height: 600px;
  flex-wrap: nowrap;
}
@media screen and (max-width: 990px) {
  .main-page .what .row {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
}
.main-page .what .row .left, .main-page .what .row .right {
  display: flex;
  border-radius: 10px;
  height: 100%;
  max-height: 850px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2509803922);
}
.main-page .what .row .left {
  background-image: url("../img/background.jpg");
  filter: brightness(1.5);
  color: #9A9A9A;
  font-family: "Centure Gothic";
  font-size: 20px;
  padding: 40px;
  text-align: center;
  background-image: url("../img/meyersMens.png");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-right: 11px;
}
@media screen and (max-width: 990px) {
  .main-page .what .row .left {
    background-image: none;
  }
}
.main-page .what .row .left p {
  color: #9A9A9A;
}
@media screen and (max-width: 1400px) {
  .main-page .what .row .left {
    padding: 20px;
  }
}
.main-page .what .row .right {
  background-position: top;
  background-size: cover;
  border-radius: 12px;
}
@media screen and (max-width: 990px) {
  .main-page .what .row .right {
    height: 400px;
  }
}
.main-page .what .promo-text p {
  margin-bottom: 50px;
}
.main-page .what .promo-text a {
  color: #9A9A9A;
}
.main-page .why {
  overflow: hidden;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 90px;
  gap: 68px;
  background-image: url("../img/meyer-left.png"), url("../img/meyer-right.png");
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
}
@media screen and (max-width: 990px) {
  .main-page .why {
    background-image: none;
    padding-top: 0;
    min-height: auto;
    gap: 30px;
  }
}
.main-page .why .controls {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0 10px;
}
.main-page .why h2 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
  margin: 50px 10px;
  max-width: 940px;
}
@media screen and (max-width: 500px) {
  .main-page .why h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 900px) {
  .main-page .why h2 {
    margin: 25px 10px;
  }
}
@media screen and (max-width: 500px) {
  .main-page .why h2 {
    font-size: 24px;
  }
}
.main-page .why .cards-wrapper {
  height: 650px;
}
@media screen and (max-width: 765px) {
  .main-page .why .cards-wrapper {
    height: 450px;
  }
}
.main-page .why .cards-wrapper .cards .card {
  width: 490px;
  height: 650px;
  padding: 50px;
  color: #9A9A9A;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.3);
  margin: 0 12px;
  background-size: 100% 322px;
  background-repeat: no-repeat;
  background-position: bottom;
}
@media screen and (max-width: 990px) {
  .main-page .why .cards-wrapper .cards .card {
    background-size: 80% 322px;
  }
}
@media screen and (max-width: 765px) {
  .main-page .why .cards-wrapper .cards .card {
    color: white;
    background-image: none !important;
  }
}
.main-page .why .cards-wrapper .cards .card:first-child {
  margin-left: 0;
}
.main-page .why .cards-wrapper .cards .card:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1400px) {
  .main-page .why .cards-wrapper .cards .card {
    width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .main-page .why .cards-wrapper .cards .card {
    position: inherit;
    overflow-x: visible;
  }
}
@media screen and (max-width: 700px) {
  .main-page .why .cards-wrapper .cards .card {
    margin: 0;
  }
}
.main-page .why .cards-wrapper .cards .card .title {
  font-size: 48px;
  line-height: 67px;
  margin-bottom: 50px;
  font-family: "Algerian TYGRA";
}
@media screen and (max-width: 1400px) {
  .main-page .why .cards-wrapper .cards .card .title {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .main-page .why .cards-wrapper .cards .card .title {
    font-size: 38px;
  }
}
.main-page .why .cards-wrapper .cards .card .description {
  font-family: "Centure Gothic";
  line-height: 24px;
}
.main-page .why .cards-wrapper .cards .slick-list, .main-page .why .cards-wrapper .cards .slick-track {
  height: 100%;
}
.main-page .promo-videos {
  padding: 50px 10px;
  gap: 50px;
}
.main-page .promo-videos h2 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .main-page .promo-videos h2 {
    font-size: 30px;
  }
}
.main-page .promo-videos .row {
  height: 450px;
}
@media screen and (max-width: 900px) {
  .main-page .promo-videos .row {
    height: auto;
    gap: 24px;
  }
  .main-page .promo-videos .row iframe {
    height: 300px;
  }
}
@media screen and (max-width: 650px) {
  .main-page .promo-videos .row {
    gap: 12px;
  }
  .main-page .promo-videos .row iframe {
    height: 200px;
  }
}
.main-page .promo-videos .row .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .main-page .promo-videos .row .right {
    gap: 24px;
  }
}
@media screen and (max-width: 650px) {
  .main-page .promo-videos .row .right {
    gap: 12px;
  }
}
.main-page .promo-text {
  max-width: 1000px;
  align-items: center;
  background-image: url("../img/background.jpg");
  font-family: "Centure Gothic";
  font-size: 20px;
  line-height: 26px;
}
.main-page .promo-text b {
  font-family: "Centure Gothic Bold";
}
@media screen and (max-width: 1200px) {
  .main-page .promo-text {
    min-height: 80px;
    height: auto;
    justify-content: center;
    font-size: 16px;
  }
}
.main-page .promo-text p {
  max-width: 1000px;
  color: #9A9A9A;
  text-align: center;
}
.main-page .footer-promo {
  height: 360px;
}
@media screen and (max-width: 767px) {
  .main-page .footer-promo {
    display: none;
  }
}
.main-page .howToGo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-page .howToGo .map {
  width: 100%;
}

.groups-page, .groups {
  gap: 50px;
}
.groups-page h2, .groups-page h1, .groups h2, .groups h1 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .groups-page h2, .groups-page h1, .groups h2, .groups h1 {
    font-size: 30px;
  }
}
.groups-page .image, .groups .image {
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 400px;
}
@media screen and (max-width: 1200px) {
  .groups-page .image, .groups .image {
    height: 250px;
  }
}
@media screen and (max-width: 765px) {
  .groups-page .image, .groups .image {
    display: none;
  }
}
.groups-page .promo, .groups .promo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
@media screen and (max-width: 765px) {
  .groups-page .promo, .groups .promo {
    display: none;
  }
}
.groups-page .cards, .groups .cards {
  gap: 20px;
  margin-bottom: 80px;
}
@media screen and (max-width: 1200px) {
  .groups-page .cards, .groups .cards {
    gap: 10px;
  }
}
@media screen and (max-width: 578px) {
  .groups-page .cards, .groups .cards {
    max-width: 300px;
    margin: 0 auto 80px auto;
  }
}
.groups-page .cards .card, .groups .cards .card {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: 110% 110%;
  color: white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}
.groups-page .cards .card:hover, .groups .cards .card:hover {
  background-size: 115% 115%;
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 1400px) {
  .groups-page .cards .card, .groups .cards .card {
    height: 350px;
  }
}
@media screen and (max-width: 1000px) {
  .groups-page .cards .card, .groups .cards .card {
    margin: 0 2px;
  }
}
@media screen and (max-width: 578px) {
  .groups-page .cards .card, .groups .cards .card {
    height: 450px;
  }
}
.groups-page .cards .card .text, .groups .cards .card .text {
  height: 94px;
}
.groups-page .cards .card .text .name, .groups .cards .card .text .name {
  height: 34px;
  margin: 0;
  font-size: 18px;
}
.groups-page .cards .card .text .description, .groups .cards .card .text .description {
  color: #9A9A9A;
  font-size: 12px;
  margin: 0;
}

.masters-page {
  gap: 50px;
}
.masters-page h1 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .masters-page h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .masters-page .container, .masters-page .container-lg, .masters-page .container-md, .masters-page .container-sm, .masters-page .container-xl, .masters-page .container-xxl {
    max-width: 1590px;
  }
}
.masters-page .promo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
@media screen and (max-width: 765px) {
  .masters-page .promo {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .masters-page .controls-wrapper .controls {
    display: flex;
  }
}
.masters-page .cards {
  gap: 16px;
  margin-bottom: 80px;
  justify-content: center;
}
@media screen and (max-width: 1600px) {
  .masters-page .cards {
    gap: 10px;
  }
}
@media screen and (max-width: 600px) {
  .masters-page .cards {
    max-width: 300px;
    margin: 0 auto 80px auto;
  }
}
.masters-page .cards .card {
  display: flex;
  justify-content: end;
  width: 250px;
  height: 450px;
  flex-shrink: 0;
  background-color: #0F0F0F;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110% 110%;
  color: white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 1600px) {
  .masters-page .cards .card {
    width: 240px;
    height: 430px;
    background-size: cover;
  }
}
@media screen and (max-width: 1500px) {
  .masters-page .cards .card {
    width: 230px;
    height: 412px;
  }
}
@media screen and (max-width: 1440px) {
  .masters-page .cards .card {
    margin: 10px;
    height: 450px;
    background-position: top center;
  }
}
@media screen and (max-width: 900px) {
  .masters-page .cards .card {
    margin: 5px;
  }
}
.masters-page .cards .card .text {
  height: 94px;
}
.masters-page .cards .card .text .name {
  height: 34px;
  margin: 0;
  font-size: 18px;
}
.masters-page .cards .card .text .description {
  color: #9A9A9A;
  font-size: 12px;
  margin: 0;
}

.master-page {
  padding-top: 50px;
  font-family: "Centure Gothic";
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #9A9A9A;
}
.master-page h1 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 500px) {
  .master-page h1 {
    font-size: 30px;
  }
}
.master-page h2 {
  line-height: 24px;
  font-size: 20px;
}
.master-page .controls {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0 10px;
}
.master-page .photos img {
  border-radius: 15px;
  margin: 0 12px;
}
@media screen and (max-width: 1200px) {
  .master-page .photos img {
    height: 550px;
  }
}
@media screen and (max-width: 750px) {
  .master-page .photos img {
    height: 350px;
  }
}
.master-page .about {
  max-width: 850px;
  margin: 50px auto;
  padding: 0 10px;
}
.master-page .schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.master-page .schedule .card {
  background-color: rgba(40, 40, 40, 0.3);
  border-radius: 10px;
  padding: 20px 10px;
  width: 185px;
  min-height: 250px;
  display: flex;
  justify-content: flex-start;
  color: #9A9A9A;
  gap: 14px;
}
.master-page .schedule .card.big {
  min-height: 400px;
}
@media screen and (max-width: 430px) {
  .master-page .schedule .card.big {
    min-height: auto;
  }
}
@media screen and (max-width: 430px) {
  .master-page .schedule .card {
    min-height: auto;
    width: 100%;
    margin: 0 10px;
  }
}
.master-page .schedule .card .day {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  line-height: 43px;
  height: 50px;
  text-transform: capitalize;
}
.master-page .schedule .card .time {
  color: white;
  line-height: 25px;
  font-family: "Centure Gothic Bold";
}
.master-page .schedule .card .group_name {
  font-size: 16px;
  height: 70px;
}
.master-page .schedule .card .group_name a {
  text-decoration: none;
  color: inherit;
}
.master-page .schedule .card .group_name a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 430px) {
  .master-page .schedule .card .group_name {
    height: auto;
  }
}
.master-page .schedule .card .divider {
  width: 46px;
  height: 3px;
  background: white;
  margin: 6px auto 24px auto;
}
.master-page .button_link {
  margin: 50px auto;
}
.master-page .footer-image {
  height: 350px;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 760px) {
  .master-page .footer-image {
    height: 200px;
  }
}

.schedule-page {
  padding: 50px 0 90px 0;
  background-image: url("../img/meyer-left.png"), url("../img/meyer-right.png");
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
}
@media screen and (max-width: 1400px) {
  .schedule-page {
    background-size: 600px;
  }
}
@media screen and (max-width: 800px) {
  .schedule-page {
    background-image: url("../img/meyer-left.png");
  }
}
.schedule-page h1 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .schedule-page h1 {
    font-size: 30px;
  }
}
.schedule-page .days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px 24px;
  margin: 40px 0 120px 0;
}
@media screen and (max-width: 1200px) {
  .schedule-page .days {
    margin: 20px 0 60px 0;
  }
}
.schedule-page .days .day {
  max-width: 545px;
}
@media screen and (max-width: 570px) {
  .schedule-page .days .day {
    max-width: 480px;
  }
}
.schedule-page .days .day .head {
  font-family: "Algerian TYGRA";
  font-size: 32px;
  margin-bottom: 16px;
  text-align: center;
}
.schedule-page .days .day table {
  border-collapse: collapse;
  font-family: "Centure Gothic";
}
.schedule-page .days .day table td {
  border: 3px solid #9A9A9A;
  padding: 10px;
}
@media screen and (max-width: 760px) {
  .schedule-page .days .day table td {
    padding: 5px;
  }
}
.schedule-page .days .day table td.day {
  font-size: 24px;
  text-align: center;
  width: 165px;
}
@media screen and (max-width: 570px) {
  .schedule-page .days .day table td.day {
    font-size: 16px;
    width: 70px;
  }
}
.schedule-page .days .day table td.master {
  max-width: 170px;
  padding-right: 20px;
}
.schedule-page .days .day table td.master a {
  text-decoration: none;
  color: inherit;
}
.schedule-page .days .day table td.master a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 760px) {
  .schedule-page .days .day table td.master {
    padding-right: 5px;
  }
}

.price-page .promo {
  height: 250px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-page .promo h1 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .price-page .promo h1 {
    font-size: 30px;
  }
}
.price-page .wrapper {
  background-image: url("../img/mensBackground.png");
  background-position: center;
  background-size: cover;
}
.price-page .subsriptions {
  margin: 0 auto;
  padding: 40px 10px 0 10px;
  max-width: 1520px;
  width: 100%;
}
.price-page .subsriptions .button_link {
  margin: 0 auto 70px auto;
}
.price-page .subsription {
  padding: 40px 0;
  margin-bottom: 10px;
  color: #9A9A9A;
}
.price-page .subsription .head {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
  color: white;
  font-size: 32px;
  line-height: 28px;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  .price-page .subsription .head {
    font-size: 30px;
  }
}
.price-page .subsription .cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.price-page .subsription .cards .card {
  background-color: rgba(40, 40, 40, 0.3);
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2509803922);
  width: 360px;
  height: 245px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px 20px 20px;
  color: #9A9A9A;
}
.price-page .subsription .cards .card p {
  margin: 0;
}
.price-page .subsription .cards .card .description {
  text-align: center;
  width: 260px;
  font-family: "Centure Gothic";
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.price-page .subsription .cards .card .cost {
  font-family: "Algerian TYGRA";
  font-size: 32px;
}
.price-page .subsription .text {
  max-width: 1000px;
  width: 100%;
  text-align: center;
  color: #9A9A9A;
  margin: 50px auto 0 auto;
  font-family: "Centure Gothic";
  font-size: 20px;
  line-height: 26px;
}

.group-page {
  padding: 50px 0 130px 0;
  background-image: url("../img/meyer-ochs.png"), url("../img/logo_transparent.png");
  background-position: left bottom, right bottom 70px;
  background-repeat: no-repeat, no-repeat;
}
@media screen and (max-width: 1300px) {
  .group-page {
    background-image: url("../img/meyer-ochs.png");
  }
}
@media screen and (max-width: 800px) {
  .group-page {
    background-size: 700px 700px;
  }
}
.group-page h1, .group-page h2 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .group-page h1, .group-page h2 {
    font-size: 30px;
  }
}
.group-page .promo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 600px;
  gap: 24px;
}
@media screen and (max-width: 1200px) {
  .group-page .promo {
    height: 500px;
  }
}
@media screen and (max-width: 990px) {
  .group-page .promo {
    flex-direction: column;
    height: auto;
  }
}
.group-page .promo .left {
  border-radius: 10px;
  flex-shrink: 0;
  width: 500px;
  height: 100%;
  padding: 10px 40px;
  background-image: url("../img/background.jpg");
  filter: brightness(1.5);
  color: #9A9A9A;
  font-size: 20px;
  line-height: 24px;
  font-family: "Centure Gothic";
}
@media screen and (max-width: 1200px) {
  .group-page .promo .left {
    width: 400px;
  }
}
@media screen and (max-width: 990px) {
  .group-page .promo .left {
    width: 100%;
    padding: 10px 20px;
  }
}
.group-page .promo .right {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 990px) {
  .group-page .promo .right {
    height: 300px;
  }
}
.group-page .description {
  max-width: 1000px;
  color: #9A9A9A;
  font-size: 20px;
  line-height: 24px;
  font-family: "Centure Gothic";
}
.group-page .divider {
  margin: 50px 0;
}
.group-page .schedule {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 750px;
}
.group-page .schedule table {
  border-collapse: collapse;
  font-family: "Centure Gothic";
  line-height: 18px;
}
.group-page .schedule table td {
  border: 3px solid #9A9A9A;
  padding: 10px;
  font-size: 20px;
}
@media screen and (max-width: 760px) {
  .group-page .schedule table td {
    padding: 5px;
    font-size: 16px;
  }
}
.group-page .schedule table td.day {
  width: 130px;
  font-size: 24px;
  text-align: center;
}
@media screen and (max-width: 760px) {
  .group-page .schedule table td.day {
    font-size: 20px;
  }
}
.group-page .schedule table td.time {
  font-size: 24px;
  text-align: center;
  width: 160px;
  padding: 10px 0;
}
@media screen and (max-width: 760px) {
  .group-page .schedule table td.time {
    font-size: 20px;
  }
}
.group-page .schedule table td.master {
  width: 180px;
  padding-right: 20px;
}
.group-page .schedule table td.master a {
  text-decoration: none;
  color: inherit;
}
.group-page .schedule table td.master a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 760px) {
  .group-page .schedule table td.master {
    padding-right: 5px;
  }
}

.aboutGuild-page h1 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
  margin: 50px 0;
}
@media screen and (max-width: 500px) {
  .aboutGuild-page h1 {
    font-size: 30px;
  }
}
.aboutGuild-page .row {
  height: 100%;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1200px) {
  .aboutGuild-page .row {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.aboutGuild-page .row .left, .aboutGuild-page .row .right {
  display: flex;
  border-radius: 10px;
  height: 740px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2509803922);
}
.aboutGuild-page .row .left {
  background-image: url("../img/background.jpg");
  filter: brightness(1.5);
  color: #9A9A9A;
  font-family: "Centure Gothic";
  font-size: 20px;
  line-height: 26px;
  padding: 30px;
  text-align: center;
  gap: 24px;
  margin-right: 11px;
}
@media screen and (max-width: 1200px) {
  .aboutGuild-page .row .left {
    margin-bottom: 22px;
    margin-right: 0px;
  }
}
.aboutGuild-page .row .left p {
  margin: 0;
}
@media screen and (max-width: 1400px) {
  .aboutGuild-page .row .left {
    padding: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .aboutGuild-page .row .left {
    height: auto;
    padding: 10px;
    gap: 8px;
  }
}
@media screen and (max-width: 600px) {
  .aboutGuild-page .row .left {
    font-size: 16px;
  }
  .aboutGuild-page .row .left .logo {
    width: 110px;
    height: 160px;
  }
  .aboutGuild-page .row .left .logo-text {
    width: 270px;
    height: 46px;
  }
}
.aboutGuild-page .row .right {
  background-position: top;
  background-size: cover;
  border-radius: 12px;
}
@media screen and (max-width: 1200px) {
  .aboutGuild-page .row .right {
    height: 400px;
  }
}
.aboutGuild-page .sub-pages {
  display: flex;
  align-items: center;
  gap: 22px;
  margin: 50px 0 80px 0;
  width: 100%;
}
@media screen and (max-width: 765px) {
  .aboutGuild-page .sub-pages {
    flex-direction: column;
    margin: 20px 0 40px 0;
  }
}
.aboutGuild-page .sub-pages a {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(154, 154, 154, 0.1);
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Centure Gothic";
}
.aboutGuild-page .sub-pages a:hover {
  background: rgba(154, 154, 154, 0.2);
}
@media screen and (max-width: 990px) {
  .aboutGuild-page .sub-pages a {
    font-size: 16px;
  }
}
@media screen and (max-width: 765px) {
  .aboutGuild-page .sub-pages a {
    height: 100px;
    gap: 10px;
  }
}
.aboutGuild-page .controls {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0 10px;
}
.aboutGuild-page .photos img {
  border-radius: 10px;
  margin: 0 5px;
  height: 450px;
}
@media screen and (max-width: 750px) {
  .aboutGuild-page .photos img {
    height: 350px;
  }
}
.aboutGuild-page .text {
  max-width: 1000px;
  font-family: "Centure Gothic";
  font-size: 20px;
  line-height: 26px;
  color: #9A9A9A;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .aboutGuild-page .text {
    font-size: 16px;
  }
}

.hall-page {
  gap: 50px;
  padding: 50px 0;
  color: #9A9A9A;
  font-size: 20px;
  font-family: "Centure Gothic";
  text-align: center;
}
.hall-page h1 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 500px) {
  .hall-page h1 {
    font-size: 30px;
  }
}
.hall-page p {
  max-width: 1000px;
  margin: 0;
}
.hall-page b {
  font-family: "Centure Gothic Bold";
}
.hall-page .photos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}
.hall-page .photos img {
  width: 100%;
  max-width: 400px;
}
@media screen and (max-width: 1400px) {
  .hall-page .photos img {
    width: 300px;
  }
}
.hall-page .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.hall-page .address a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: #9A9A9A;
}

.beginners-page {
  gap: 50px;
  padding: 50px 0;
  color: #9A9A9A;
  font-size: 20px;
  font-family: "Centure Gothic";
  text-align: center;
}
.beginners-page h1 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 500px) {
  .beginners-page h1 {
    font-size: 30px;
  }
}
.beginners-page .row {
  display: flex;
  width: 100%;
  height: 560px;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1400px) {
  .beginners-page .row {
    height: 490px;
  }
}
@media screen and (max-width: 990px) {
  .beginners-page .row {
    flex-direction: column;
    height: 100%;
  }
}
.beginners-page .row .left {
  width: 490px;
  padding: 40px;
  background-color: rgba(40, 40, 40, 0.3);
  border-radius: 10px;
}
@media screen and (max-width: 1400px) {
  .beginners-page .row .left {
    padding: 20px;
  }
}
@media screen and (max-width: 990px) {
  .beginners-page .row .left {
    width: 100%;
  }
}
.beginners-page .row .left p {
  margin: 0;
}
.beginners-page .row .left b {
  font-family: "Centure Gothic Bold";
}
.beginners-page .row .right {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  background: white;
  border-radius: 10px;
  background: url("../img/beginners/promo.png") center;
  background-size: cover;
}
@media screen and (max-width: 1400px) {
  .beginners-page .row .right {
    background-position: right;
  }
}
@media screen and (max-width: 990px) {
  .beginners-page .row .right {
    height: 400px;
  }
}

.path-page {
  padding: 50px 0;
  gap: 30px;
  color: #9A9A9A;
  font-size: 20px;
  font-family: "Centure Gothic";
  text-align: center;
  background-image: url("../img/meyer-left.png"), url("../img/meyer-right.png");
  background-position: left top, right center;
  background-repeat: no-repeat, no-repeat;
}
@media screen and (max-width: 765px) {
  .path-page {
    background-image: none;
  }
}
.path-page h1 {
  font-family: "Algerian TYGRA";
  font-size: 48px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 500px) {
  .path-page h1 {
    font-size: 30px;
  }
}
.path-page p {
  margin: 0;
}
.path-page .steps {
  display: flex;
  max-width: 1020px;
  margin: 0 auto 90px auto;
  width: 100%;
  padding: 0 10px;
  flex-direction: column;
  gap: 90px;
}
@media screen and (max-width: 765px) {
  .path-page .steps {
    gap: 20px;
  }
}
@media screen and (max-width: 990px) {
  .path-page .steps .pathVideo {
    margin: 0 auto;
    max-width: 510px;
    height: 300px;
  }
}
.path-page .steps .step {
  display: flex;
  flex-direction: row;
  height: 300px;
  position: relative;
}
@media screen and (max-width: 990px) {
  .path-page .steps .step {
    height: 250px;
  }
}
@media screen and (max-width: 765px) {
  .path-page .steps .step {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
}
.path-page .steps .step .image {
  max-width: 510px;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.path-page .steps .step img {
  width: 50%;
}
@media screen and (max-width: 990px) {
  .path-page .steps .step img {
    width: 40%;
  }
}
@media screen and (max-width: 765px) {
  .path-page .steps .step img {
    width: 100%;
    max-width: 500px;
    order: 2;
  }
}
.path-page .steps .step .text {
  width: 50%;
}
@media screen and (max-width: 990px) {
  .path-page .steps .step .text {
    width: 60%;
  }
}
@media screen and (max-width: 765px) {
  .path-page .steps .step .text {
    width: 100%;
    max-width: 500px;
    order: 1;
    margin-bottom: 20px;
  }
}
.path-page .steps .step .text p {
  padding: 0 20px;
}
@media screen and (max-width: 990px) {
  .path-page .steps .step .text p {
    max-width: 100%;
  }
}
@media screen and (max-width: 765px) {
  .path-page .steps .step .text p {
    padding: 0;
    text-align: center;
  }
}
.path-page .steps .step span {
  position: absolute;
  font-family: "Algerian TYGRA";
  font-size: 370px;
  color: rgba(255, 255, 255, 0.1);
  top: -85px;
}
@media screen and (max-width: 990px) {
  .path-page .steps .step span {
    top: -130px;
  }
}
@media screen and (max-width: 765px) {
  .path-page .steps .step span {
    display: none;
  }
}
.path-page .steps .step#step-1, .path-page .steps .step#step-3, .path-page .steps .step#step-5, .path-page .steps .step#step-7, .path-page .steps .step#step-9 {
  text-align: left;
}
.path-page .steps .step#step-1 span, .path-page .steps .step#step-3 span, .path-page .steps .step#step-5 span, .path-page .steps .step#step-7 span, .path-page .steps .step#step-9 span {
  right: 0;
}
.path-page .steps .step#step-2, .path-page .steps .step#step-4, .path-page .steps .step#step-6, .path-page .steps .step#step-8 {
  text-align: right;
}
.path-page .steps .step#step-2 span, .path-page .steps .step#step-4 span, .path-page .steps .step#step-6 span, .path-page .steps .step#step-8 span {
  right: 50%;
}
@media screen and (max-width: 990px) {
  .path-page .steps .step#step-2 span, .path-page .steps .step#step-4 span, .path-page .steps .step#step-6 span, .path-page .steps .step#step-8 span {
    right: 40%;
  }
}
.path-page .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 450px;
  text-align: center;
  font-family: "Centure Gothic";
  font-size: 20px;
  color: #9A9A9A;
  line-height: 24px;
}
.path-page .address b {
  font-family: "Centure Gothic Bold";
}
.path-page .address a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: #9A9A9A;
}

@font-face {
  font-family: "Algerian TYGRA";
  src: url("../fonts/algeriantygra.ttf") format("truetype");
}
@font-face {
  font-family: "Centure Gothic";
  src: url("../fonts/centurygothic.ttf") format("truetype");
}
@font-face {
  font-family: "Centure Gothic Bold";
  src: url("../fonts/centurygothic_bold.ttf") format("truetype");
}

/*# sourceMappingURL=style.css.map */
